#conteneur{
	display: flex;
	justify-content: space-between;
}
#nom{
	color: #AB5408;
	font-weight: bold;
}

#souligne{
	text-decoration: underline #AB5408;
}
.rubrique{
	text-decoration: underline #AB5408;
}
img{
	border-radius: 50%;
	margin-top: 50px;
	margin-left: 70px;
	margin-bottom:20px;

}
header{
	order: 2;
	margin-top: 90px;
}
header h3{
	margin-top: 0px;
}
aside{
	order: 1;
	width: 382px;
	background-color: #AB5408;
}
aside h3,a{
	text-align: center;
}
aside h3{
	height: 25px;
	background-color: black;
	color: #AB5408;
	padding-top: 12px;
	padding-bottom: 12px;
}

.element{
	order: 3;
	width: 66%;
}
section{
	order: 4;
	display: flex;
	flex-direction: column;
	height: 220px;
	justify-content: space-between;
}
#sm_conteneur{
	justify-content: space-between;
	display: flex;
	justify-content: space-around;
}

ul{
	list-style-type: none;
}
h2{
	width: 700px;
	border-bottom:solid #AB5408;
}
